.header .navbar {
    background-color: #007bff !important;
 }  
 .header .navbar  ul.navbar-nav > li > a{
     color: #fff !important;
  }  


/*-------------------------------------------------------------------------------------
   * Form
   *-----------------------------------------------------------------------------------*/
   a.btn {
    color: #fff !important;
  }
 a.btn-submit,
 .form .btn-submit {
   color: #fff;
   background-color: #007bff;
   border-color: #007bff;
 }
 a.btn-submit:hover,
 .form .btn-submit:hover {
   color: #fff;  
   background: #053971;
 }
 
 
 /*-----------------------------------------------------------------------------------
  * video list 
  *-----------------------------------------------------------------------------------*/  
 
 .video-list.card .card-body  a:hover {
   color: #007bff;
 }
  
 .video-list.card a.read-more {
   background: #007bff;
   color: #f7f7f7;
 }
  
 .video-list.card a.read-more:hover {
   background: #053971;
 }
 
  
 .video-list.card a.read-more:hover {
   background: #053971;
 }
 
 
 /*-----------------------------------------------------------------------------------
  * Video  Detail
  *-----------------------------------------------------------------------------------*/ 
  
 .video-detail.card .image-container a {
   color:#fff;
 }
 
 .video-detail.card .card-body  a:hover {
   color: #007bff;
 } 

 /*-----------------------------------------------------------------------------------
  * Related video 
  *-----------------------------------------------------------------------------------*/ 
  
 .related-video.card .card-body > ul li a:hover { 
   color: #007bff;
   background-color: rgba(0,0,0,.03);  
 }
 
 
 /*-----------------------------------------------------------------------------------
  * agenda 
  *-----------------------------------------------------------------------------------*/ 
 .agenda.card .card-body  a:hover {
   color: #007bff;
 }
  
 .agenda.card a.read-more {
   background: #007bff;
   color: #f7f7f7;
 }
  
 .agenda.card a.read-more:hover {
   background: #053971;
 }
 
 .agenda.card a.read-more:hover {
   background: #053971;
 }
 
 
 /*-----------------------------------------------------------------------------------
  * Grid Card 
  *-----------------------------------------------------------------------------------*/ 
 
 .grid.card .card-body  a:hover {
   color: #007bff;
 }
  
 .grid.card a.read-more {
   background: #007bff;
   color: #f7f7f7;
 }
  
 .grid.card a.read-more:hover {
   background: #053971;
 }
  
 
 
 
 
 /*-----------------------------------------------------------------------------------
  * Blog 
  *-----------------------------------------------------------------------------------*/ 

 .blog.card .card-body  a:hover {
   color: #007bff;
 }
  
 .blog.card a.read-more {
   background: #007bff;
   color: #f7f7f7;
 }
  
 .blog.card a.read-more:hover {
   background: #053971;
 }
 
 .blog.card .tags a{ 
   background: #d8d8d8;
 }
 
 
 
 
 /*-----------------------------------------------------------------------------------
  * Blog Detail
  *-----------------------------------------------------------------------------------*/ 
 
 .blog-detail.card .card-body  a:hover {
   color: #007bff;
 }
     
 
 .blog-detail.card .tags a{ 
   background: #d8d8d8;
 }
 
 .blog-detail.card  .post-meta {
   color: grey;
 }
  
  
 /*-----------------------------------------------------------------------------------
  * row Blog 
  *-----------------------------------------------------------------------------------*/ 
 .row-blog.card .card-body  a:hover {
   color: #007bff;
 }
 
 .row-blog.card  a.read-more {
   background: #007bff;
   color: #f7f7f7; 
 }
  
 .row-blog.card a.read-more:hover {
   background: #053971;
 }
   
   
 
 /*-----------------------------------------------------------------------------------
  * Blog list
  *-----------------------------------------------------------------------------------*/ 

 .blog-list.card .card-body  a:hover {
   color: #007bff;
 }
 
 .blog-list.card  a.read-more {
   background: #007bff;
   color: #f7f7f7; 
 } 

 /*------------------------------------------------------------------------------------------
  * Polling
  *------------------------------------------------------------------------------------------*/
 .polling label.bar { 
   background-color: #007bff;
   color: #fff;
 }
 
 /*------------------------------------------------------------------------------------------
  * Sidebar 
  *------------------------------------------------------------------------------------------*/
  .sidebar .widget.card > ul li a:hover,
  .sidebar .widget.card .card-body > ul li a:hover{ 
    color: #007bff; 
  }
   
  .sidebar .widget.widget-tagcloud .tagcloud a:hover{
    color: #007bff !important; 
  }
  
   
   
  .sidebar .widget.widget-comments ul li a:hover {
    color: #007bff; 
  }
    
  .sidebar .widget.widget-social .social-bar a.social-icon { 
    border: 1px solid #007bff;
    color: #007bff; 
  } 
   
  .sidebar .widget.widget-social .social-bar a.social-icon:hover  {
    background: #007bff; 
  }
   
  
  .sidebar .widget.posts-widget li.list-post a:hover {
    color: #007bff; 
  }
   
  .sidebar .widget.widget-contact .contact .data label {
    color: #007bff;
  } 
 
 
  
  /*------------------------------------------------------------------------------------------------
   * global readmore
   *------------------------------------------------------------------------------------------------- */  
  
 a.read-more{
    color:#007bff
  }
 a.read-more:hover {
   text-decoration: none;
   border-bottom: 1px solid #007bff; 
 }
  
 

/*------------------------------------------------------------------------------------------*
* footer
*------------------------------------------------------------------------------------------*/ 

#footer .footer  ul li a:hover,
#footer .footer .card-body ul li a:hover{ 
 color: #007bff;
 text-decoration: none;
}

#footer-bottom {
 background-color: #1a1c1e;
 color: #fff; 
} 
 
/*-----------------------------------------------------------------------------------------------
* section
*-----------------------------------------------------------------------------------------------*/ 
.section.odd {
 background: #ffffff;
}
.section.even {
 background: #e1f0ff;
} 


.section .card-body .body-container a:hover{
 color: #007bff; 
}

.section .card-body .body-container.animate:hover{ 
 border-bottom: 5px solid #007bff;
}
  

#section_cta.section {
 background-color: #007bff;
 color: #fff;  
}  


.section #carouselTestimonial ol.carousel-indicators li{ 
 background-color: #007bff;
}


#back-to-top { 
 background: #007bff;
 color: #fff; 
}


#footer ul.footer-menu li a:hover{
 color: #007bff;
} 

#footer .social-bar a.social-icon { 
 border: 1px solid #007bff;
 color: #007bff;
} 

#footer .social-bar a.social-icon:hover  {
 background: #007bff;
 color: #fff;
}

.btn-theme {
 border-radius: 0;
 color: #fff;
 background-color: #007bff;
 border-color: #007bff;
}
.btn-theme:hover {  
 background: #053971;
 border-color: #053971;
 color: #fff;
}
  
 
/*-----------------------------------------------------------------------------------------------
* menu
*-----------------------------------------------------------------------------------------------*/  
.main-menu .current-menu-item, 
.main-menu .current-menu-ancestor,  
.main-menu .current_menu_ancestor,  
.main-menu > ul ul li:hover > a ,
.main-menu > ul ul li.menu-item a:hover {
    background: #e1f0ff; 
}

  
/*-----------------------------------------------------------------------------------------------
* pagination
*-----------------------------------------------------------------------------------------------*/  
.pagination a {     
  border: 1px solid #007bff;
  color: #007bff; 
}

.pagination span.current { 
  background: #007bff; 
}

.pagination a:hover { 
  background: #007bff;
} 


  
/*-----------------------------------------------------------------------------------------------
* social share
*-----------------------------------------------------------------------------------------------*/  
.social-share a{
  color: #007bff;
}

.social-share a:hover{
  color: #053971;
}

/*-----------------------------------------------------------------------------------------------
 * comment form
*-----------------------------------------------------------------------------------------------*/  

.comment-respond .comment-form .btn-comment { 
  background-color: #007bff;
  border-color: #007bff;
}

.comment-respond .comment-form .btn-comment:hover { 
background: #053971;
}

h3.comments a.comment-write:hover {
  color: #007bff;
} 

ol.commentlist li a:hover { 
  color: #007bff;
} 

.navigation a:hover  { 
  color: #007bff; 
  border-bottom: 1px solid #007bff;
} 

/*--------------------------------------------------------------------------------------------------
 * Menu responsive
 *------------------------------------------------------------------------------------------------*/
 .responsive-menu{ 
  background: #007bff; 
}
    

.responsive-menu .menu-content .sidemenu {
  background: #007bff; 
} 

.responsive-menu .menu-top a {
  color: #007bff;
  background: #e1f0ff;
}


/*--------------------------------------------------------------------------------------------------
 * team
 *------------------------------------------------------------------------------------------------*/
.team-socmed a {
  border: 1px solid #007bff;
  color: #007bff !important;
} 

.team-socmed a:hover  {
  background: #007bff;
} 
 
.section-slider .carousel-caption a:hover{
  color: #007bff; 
}
 