.header .navbar {
  background-color: #28a745 !important;
}  
.header .navbar  ul.navbar-nav > li > a{
   color: #fff !important;
}  

/*-------------------------------------------------------------------------------------
   * Form
   *-----------------------------------------------------------------------------------*/
   a.btn {
     color: #fff !important;
   }
  a.btn-submit,
  .form .btn-submit {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  a.btn-submit:hover,
  .form .btn-submit:hover {
    color: #fff;  
    background: #0b511b;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * video list 
   *-----------------------------------------------------------------------------------*/  
  
  .video-list.card .card-body  a:hover {
    color: #28a745;
  }
   
  .video-list.card a.read-more {
    background: #28a745;
    color: #f7f7f7;
  }
   
  .video-list.card a.read-more:hover {
    background: #0b511b;
  }
  
   
  .video-list.card a.read-more:hover {
    background: #0b511b;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * Video  Detail
   *-----------------------------------------------------------------------------------*/ 
   
  .video-detail.card .image-container a {
    color:#fff;
  }
  
  .video-detail.card .card-body  a:hover {
    color: #28a745;
  } 

  /*-----------------------------------------------------------------------------------
   * Related video 
   *-----------------------------------------------------------------------------------*/ 
   
  .related-video.card .card-body > ul li a:hover { 
    color: #28a745;
    background-color: rgba(0,0,0,.03);  
  }
  
  
  /*-----------------------------------------------------------------------------------
   * agenda 
   *-----------------------------------------------------------------------------------*/ 
  .agenda.card .card-body  a:hover {
    color: #28a745;
  }
   
  .agenda.card a.read-more {
    background: #28a745;
    color: #f7f7f7;
  }
   
  .agenda.card a.read-more:hover {
    background: #0b511b;
  }
  
  .agenda.card a.read-more:hover {
    background: #0b511b;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * Grid Card 
   *-----------------------------------------------------------------------------------*/ 
  
  .grid.card .card-body  a:hover {
    color: #28a745;
  }
   
  .grid.card a.read-more {
    background: #28a745;
    color: #f7f7f7;
  }
   
  .grid.card a.read-more:hover {
    background: #0b511b;
  }
   
  
  
  
  
  /*-----------------------------------------------------------------------------------
   * Blog 
   *-----------------------------------------------------------------------------------*/ 

  .blog.card .card-body  a:hover {
    color: #28a745;
  }
   
  .blog.card a.read-more {
    background: #28a745;
    color: #f7f7f7;
  }
   
  .blog.card a.read-more:hover {
    background: #0b511b;
  }
  
  .blog.card .tags a{ 
    background: #d8d8d8;
  }
  
  
  
  
  /*-----------------------------------------------------------------------------------
   * Blog Detail
   *-----------------------------------------------------------------------------------*/ 
  
  .blog-detail.card .card-body  a:hover {
    color: #28a745;
  }
      
  
  .blog-detail.card .tags a{ 
    background: #d8d8d8;
  }
  
  .blog-detail.card  .post-meta {
    color: grey;
  }
   
   
  /*-----------------------------------------------------------------------------------
   * row Blog 
   *-----------------------------------------------------------------------------------*/ 
  .row-blog.card .card-body  a:hover {
    color: #28a745;
  }
  
  .row-blog.card  a.read-more {
    background: #28a745;
    color: #f7f7f7; 
  }
   
  .row-blog.card a.read-more:hover {
    background: #0b511b;
  }
    
    
  
  /*-----------------------------------------------------------------------------------
   * Blog list
   *-----------------------------------------------------------------------------------*/ 

  .blog-list.card .card-body  a:hover {
    color: #28a745;
  }
  
  .blog-list.card  a.read-more {
    background: #28a745;
    color: #f7f7f7; 
  } 

  /*------------------------------------------------------------------------------------------
   * Polling
   *------------------------------------------------------------------------------------------*/
  .polling label.bar { 
    background-color: #28a745;
    color: #fff;
  }
  
  /*------------------------------------------------------------------------------------------
   * Sidebar 
   *------------------------------------------------------------------------------------------*/
    
   .sidebar .widget.card > ul li a:hover,
   .sidebar .widget.card .card-body > ul li a:hover{ 
     color: #28a745; 
   }
    
   .sidebar .widget.widget-tagcloud .tagcloud a:hover{
     color: #28a745 !important; 
   }
   
    
    
   .sidebar .widget.widget-comments ul li a:hover {
     color: #28a745; 
   }
     
   .sidebar .widget.widget-social .social-bar a.social-icon { 
     border: 1px solid #28a745;
     color: #28a745; 
   } 
    
   .sidebar .widget.widget-social .social-bar a.social-icon:hover  {
     background: #28a745; 
   }
    
   
   .sidebar .widget.posts-widget li.list-post a:hover {
     color: #28a745; 
   }
    
   .sidebar .widget.widget-contact .contact .data label {
     color: #28a745;
   } 
  
   
  
  /*------------------------------------------------------------------------------------------------
   * global readmore
   *------------------------------------------------------------------------------------------------- */  
  
   a.read-more{
    color:#28a745
  }
 a.read-more:hover {
   text-decoration: none;
   border-bottom: 1px solid #28a745; 
 }
  
 

/*------------------------------------------------------------------------------------------*
* footer
*------------------------------------------------------------------------------------------*/ 

#footer .footer  ul li a:hover,
#footer .footer .card-body ul li a:hover{ 
 color: #28a745;
 text-decoration: none;
}

#footer-bottom {
 background-color: #1a1c1e;
 color: #fff; 
} 
 
/*-----------------------------------------------------------------------------------------------
* section
*-----------------------------------------------------------------------------------------------*/ 
.section.odd {
 background: #ffffff;
}
.section.even {
 background: #e0ffe7;
} 


.section .card-body .body-container a:hover{
 color: #28a745; 
}

.section .card-body .body-container.animate:hover{ 
 border-bottom: 5px solid #28a745;
}
  

#section_cta.section {
 background-color: #28a745;
 color: #fff;  
}  


.section #carouselTestimonial ol.carousel-indicators li{ 
 background-color: #28a745;
}


#back-to-top { 
 background: #28a745;
 color: #fff; 
}


#footer ul.footer-menu li a:hover{
 color: #28a745;
} 

#footer .social-bar a.social-icon { 
 border: 1px solid #28a745;
 color: #28a745;
} 

#footer .social-bar a.social-icon:hover  {
 background: #28a745;
 color: #fff;
}

.btn-theme {
 border-radius: 0;
 color: #fff;
 background-color: #28a745;
 border-color: #28a745;
}
.btn-theme:hover {  
 background: #0b511b;
 border-color: #0b511b;
 color: #fff;
}
  
 
/*-----------------------------------------------------------------------------------------------
* menu
*-----------------------------------------------------------------------------------------------*/  
.main-menu .current-menu-item, 
.main-menu .current-menu-ancestor,  
.main-menu .current_menu_ancestor,  
.main-menu > ul ul li:hover > a ,
.main-menu > ul ul li.menu-item a:hover {
    background: #e0ffe7; 
}


  
/*-----------------------------------------------------------------------------------------------
* pagination
*-----------------------------------------------------------------------------------------------*/  
.pagination a {     
  border: 1px solid #28a745;
  color: #28a745; 
}

.pagination span.current { 
  background: #28a745; 
}

.pagination a:hover { 
  background: #28a745;
} 

  
/*-----------------------------------------------------------------------------------------------
* social share
*-----------------------------------------------------------------------------------------------*/  
.social-share a{
  color: #28a745;
}

.social-share a:hover{
  color: #0b511b;
}

/*-----------------------------------------------------------------------------------------------
 * comment form
*-----------------------------------------------------------------------------------------------*/  

.comment-respond .comment-form .btn-comment { 
  background-color: #28a745;
  border-color: #28a745;
}

.comment-respond .comment-form .btn-comment:hover { 
background: #0b511b;
}

h3.comments a.comment-write:hover {
  color: #28a745;
} 

ol.commentlist li a:hover { 
  color: #28a745;
} 

.navigation a:hover  { 
  color: #28a745; 
  border-bottom: 1px solid #28a745;
} 

/*--------------------------------------------------------------------------------------------------
 * Menu responsive
 *------------------------------------------------------------------------------------------------*/
 .responsive-menu{ 
  background: #28a745; 
}
    

.responsive-menu .menu-content .sidemenu {
  background: #28a745; 
} 

.responsive-menu .menu-top a {
  color: #28a745;
  background: #e0ffe7;
}




/*--------------------------------------------------------------------------------------------------
 * team
 *------------------------------------------------------------------------------------------------*/
 .team-socmed a {
  border: 1px solid #28a745;
  color: #28a745 !important;
} 

.team-socmed a:hover  {
  background: #28a745;
}
 
.section-slider .carousel-caption a:hover{
  color: #28a745; 
}
 