.header .navbar {
   background-color: #e83e8c !important;
}  
.header .navbar  ul.navbar-nav > li > a{
    color: #fff !important;
 }  

  /*-------------------------------------------------------------------------------------
   * Form
   *-----------------------------------------------------------------------------------*/
   a.btn {
    color: #fff !important;
  }
 a.btn-submit,
 .form .btn-submit {
   color: #fff;
   background-color: #e83e8c;
   border-color: #e83e8c;
 }
 a.btn-submit:hover,
 .form .btn-submit:hover {
   color: #fff;  
   background: #970447;
 }
 
 
 /*-----------------------------------------------------------------------------------
  * video list 
  *-----------------------------------------------------------------------------------*/  
 
 .video-list.card .card-body  a:hover {
   color: #e83e8c;
 }
  
 .video-list.card a.read-more {
   background: #e83e8c;
   color: #f7f7f7;
 }
  
 .video-list.card a.read-more:hover {
   background: #970447;
 }
 
  
 .video-list.card a.read-more:hover {
   background: #970447;
 }
 
 
 /*-----------------------------------------------------------------------------------
  * Video  Detail
  *-----------------------------------------------------------------------------------*/ 
  
 .video-detail.card .image-container a {
   color:#fff;
 }
 
 .video-detail.card .card-body  a:hover {
   color: #e83e8c;
 } 

 /*-----------------------------------------------------------------------------------
  * Related video 
  *-----------------------------------------------------------------------------------*/ 
  
 .related-video.card .card-body > ul li a:hover { 
   color: #e83e8c;
   background-color: rgba(0,0,0,.03);  
 }
 
 
 /*-----------------------------------------------------------------------------------
  * agenda 
  *-----------------------------------------------------------------------------------*/ 
 .agenda.card .card-body  a:hover {
   color: #e83e8c;
 }
  
 .agenda.card a.read-more {
   background: #e83e8c;
   color: #f7f7f7;
 }
  
 .agenda.card a.read-more:hover {
   background: #970447;
 }
 
 .agenda.card a.read-more:hover {
   background: #970447;
 }
 
 
 /*-----------------------------------------------------------------------------------
  * Grid Card 
  *-----------------------------------------------------------------------------------*/ 
 
 .grid.card .card-body  a:hover {
   color: #e83e8c;
 }
  
 .grid.card a.read-more {
   background: #e83e8c;
   color: #f7f7f7;
 }
  
 .grid.card a.read-more:hover {
   background: #970447;
 }
  
 
 
 
 
 /*-----------------------------------------------------------------------------------
  * Blog 
  *-----------------------------------------------------------------------------------*/ 

 .blog.card .card-body  a:hover {
   color: #e83e8c;
 }
  
 .blog.card a.read-more {
   background: #e83e8c;
   color: #f7f7f7;
 }
  
 .blog.card a.read-more:hover {
   background: #970447;
 }
 
 .blog.card .tags a{ 
   background: #d8d8d8;
 }
 
 
 
 
 /*-----------------------------------------------------------------------------------
  * Blog Detail
  *-----------------------------------------------------------------------------------*/ 
 
 .blog-detail.card .card-body  a:hover {
   color: #e83e8c;
 }
     
 
 .blog-detail.card .tags a{ 
   background: #d8d8d8;
 }
 
 .blog-detail.card  .post-meta {
   color: grey;
 }
  
  
 /*-----------------------------------------------------------------------------------
  * row Blog 
  *-----------------------------------------------------------------------------------*/ 
 .row-blog.card .card-body  a:hover {
   color: #e83e8c;
 }
 
 .row-blog.card  a.read-more {
   background: #e83e8c;
   color: #f7f7f7; 
 }
  
 .row-blog.card a.read-more:hover {
   background: #970447;
 }
   
   
 
 /*-----------------------------------------------------------------------------------
  * Blog list
  *-----------------------------------------------------------------------------------*/ 

 .blog-list.card .card-body  a:hover {
   color: #e83e8c;
 }
 
 .blog-list.card  a.read-more {
   background: #e83e8c;
   color: #f7f7f7; 
 } 

 /*------------------------------------------------------------------------------------------
  * Polling
  *------------------------------------------------------------------------------------------*/
 .polling label.bar { 
   background-color: #e83e8c;
   color: #fff;
 }
 
 /*------------------------------------------------------------------------------------------
  * Sidebar 
  *------------------------------------------------------------------------------------------*/
    
  .sidebar .widget.card > ul li a:hover,
  .sidebar .widget.card .card-body > ul li a:hover{ 
    color: #e83e8c; 
  }
   
  .sidebar .widget.widget-tagcloud .tagcloud a:hover{
    color: #e83e8c !important; 
  }
  
   
   
  .sidebar .widget.widget-comments ul li a:hover {
    color: #e83e8c; 
  }
    
  .sidebar .widget.widget-social .social-bar a.social-icon { 
    border: 1px solid #e83e8c;
    color: #e83e8c; 
  } 
   
  .sidebar .widget.widget-social .social-bar a.social-icon:hover  {
    background: #e83e8c; 
  }
   
  
  .sidebar .widget.posts-widget li.list-post a:hover {
    color: #e83e8c; 
  }
   
  .sidebar .widget.widget-contact .contact .data label {
    color: #e83e8c;
  } 
  
  

 
 
 /*------------------------------------------------------------------------------------------------
  * global readmore
  *------------------------------------------------------------------------------------------------- */  
 
  a.read-more{
    color:#e83e8c
  }
  
  a.read-more:hover {
    text-decoration: none;
    border-bottom: 1px solid #e83e8c; 
  }
   
  
 
 /*------------------------------------------------------------------------------------------*
 * footer
 *------------------------------------------------------------------------------------------*/ 
 
 #footer .footer  ul li a:hover,
 #footer .footer .card-body ul li a:hover{ 
  color: #e83e8c;
  text-decoration: none;
 }
 
 #footer-bottom {
  background-color: #1a1c1e;
  color: #fff; 
 } 
  
 /*-----------------------------------------------------------------------------------------------
 * section
 *-----------------------------------------------------------------------------------------------*/ 
 .section.odd {
  background: #ffffff;
 }
 .section.even {
  background: #ffeaf4;
 } 
 
 
 .section .card-body .body-container a:hover{
  color: #e83e8c; 
 }
 
 .section .card-body .body-container.animate:hover{ 
  border-bottom: 5px solid #e83e8c;
 }
   
 
 #section_cta.section {
  background-color: #e83e8c;
  color: #fff;  
 }  
 
 
 .section #carouselTestimonial ol.carousel-indicators li{ 
  background-color: #e83e8c;
 }
 
 
 #back-to-top { 
  background: #e83e8c;
  color: #fff; 
 }
 
 
 #footer ul.footer-menu li a:hover{
  color: #e83e8c;
 } 
 
 #footer .social-bar a.social-icon { 
  border: 1px solid #e83e8c;
  color: #e83e8c;
 } 
 
 #footer .social-bar a.social-icon:hover  {
  background: #e83e8c;
  color: #fff;
 }
 
 .btn-theme {
  border-radius: 0;
  color: #fff;
  background-color: #e83e8c;
  border-color: #e83e8c;
 }
 .btn-theme:hover {  
  background: #970447;
  border-color: #970447;
  color: #fff;
 }

 
  
 
  /*-----------------------------------------------------------------------------------------------
  * menu
  *-----------------------------------------------------------------------------------------------*/  
 .main-menu .current-menu-item, 
 .main-menu .current-menu-ancestor,  
 .main-menu .current_menu_ancestor,  
 .main-menu > ul ul li:hover > a ,
 .main-menu > ul ul li.menu-item a:hover {
     background: #ffeaf4; 
 }



  
 /*-----------------------------------------------------------------------------------------------
 * pagination
 *-----------------------------------------------------------------------------------------------*/  
 .pagination a {     
   border: 1px solid #e83e8c;
   color: #e83e8c; 
 }
 
 .pagination span.current { 
   background: #e83e8c; 
 }
 
 .pagination a:hover { 
   background: #e83e8c;
 } 

  
 /*-----------------------------------------------------------------------------------------------
 * social share
 *-----------------------------------------------------------------------------------------------*/  
 .social-share a{
   color: #e83e8c;
 }
 
 .social-share a:hover{
   color: #970447;
 }
 
 /*-----------------------------------------------------------------------------------------------
  * comment form
 *-----------------------------------------------------------------------------------------------*/  
 
 .comment-respond .comment-form .btn-comment { 
   background-color: #e83e8c;
   border-color: #e83e8c;
 }
 
 .comment-respond .comment-form .btn-comment:hover { 
 background: #970447;
 }
 
 h3.comments a.comment-write:hover {
   color: #e83e8c;
 } 
 
 ol.commentlist li a:hover { 
   color: #e83e8c;
 } 
 
 .navigation a:hover  { 
   color: #e83e8c; 
   border-bottom: 1px solid #e83e8c;
 } 

 /*--------------------------------------------------------------------------------------------------
  * Menu responsive
  *------------------------------------------------------------------------------------------------*/
  .responsive-menu{ 
   background: #e83e8c; 
 }
     
 
 .responsive-menu .menu-content .sidemenu {
   background: #e83e8c; 
 } 

.responsive-menu .menu-top a {
  color: #e83e8c;
  background: #ffeaf4;
}



/*--------------------------------------------------------------------------------------------------
 * team
 *------------------------------------------------------------------------------------------------*/
 .team-socmed a {
  border: 1px solid #e83e8c;
  color: #e83e8c !important;
} 

.team-socmed a:hover  {
  background: #e83e8c;
}
 
.section-slider .carousel-caption a:hover{
  color: #e83e8c; 
}