.header .navbar {
    background-color: #dc3545 !important;
 }  
 .header .navbar  ul.navbar-nav > li > a{
     color: #fff !important;
  }  
 
   /*-------------------------------------------------------------------------------------
    * Form
    *-----------------------------------------------------------------------------------*/
    a.btn {
     color: #fff !important;
   }
  a.btn-submit,
  .form .btn-submit {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  a.btn-submit:hover,
  .form .btn-submit:hover {
    color: #fff;  
    background: #93101c;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * video list 
   *-----------------------------------------------------------------------------------*/  
  
  .video-list.card .card-body  a:hover {
    color: #dc3545;
  }
   
  .video-list.card a.read-more {
    background: #dc3545;
    color: #f7f7f7;
  }
   
  .video-list.card a.read-more:hover {
    background: #93101c;
  }
  
   
  .video-list.card a.read-more:hover {
    background: #93101c;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * Video  Detail
   *-----------------------------------------------------------------------------------*/ 
   
  .video-detail.card .image-container a {
    color:#fff;
  }
  
  .video-detail.card .card-body  a:hover {
    color: #dc3545;
  } 
 
  /*-----------------------------------------------------------------------------------
   * Related video 
   *-----------------------------------------------------------------------------------*/ 
   
  .related-video.card .card-body > ul li a:hover { 
    color: #dc3545;
    background-color: rgba(0,0,0,.03);  
  }
  
  
  /*-----------------------------------------------------------------------------------
   * agenda 
   *-----------------------------------------------------------------------------------*/ 
  .agenda.card .card-body  a:hover {
    color: #dc3545;
  }
   
  .agenda.card a.read-more {
    background: #dc3545;
    color: #f7f7f7;
  }
   
  .agenda.card a.read-more:hover {
    background: #93101c;
  }
  
  .agenda.card a.read-more:hover {
    background: #93101c;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * Grid Card 
   *-----------------------------------------------------------------------------------*/ 
  
  .grid.card .card-body  a:hover {
    color: #dc3545;
  }
   
  .grid.card a.read-more {
    background: #dc3545;
    color: #f7f7f7;
  }
   
  .grid.card a.read-more:hover {
    background: #93101c;
  }
   
  
  
  
  
  /*-----------------------------------------------------------------------------------
   * Blog 
   *-----------------------------------------------------------------------------------*/ 
 
  .blog.card .card-body  a:hover {
    color: #dc3545;
  }
   
  .blog.card a.read-more {
    background: #dc3545;
    color: #f7f7f7;
  }
   
  .blog.card a.read-more:hover {
    background: #93101c;
  }
  
  .blog.card .tags a{ 
    background: #d8d8d8;
  }
  
  
  
  
  /*-----------------------------------------------------------------------------------
   * Blog Detail
   *-----------------------------------------------------------------------------------*/ 
  
  .blog-detail.card .card-body  a:hover {
    color: #dc3545;
  }
      
  
  .blog-detail.card .tags a{ 
    background: #d8d8d8;
  }
  
  .blog-detail.card  .post-meta {
    color: grey;
  }
   
   
  /*-----------------------------------------------------------------------------------
   * row Blog 
   *-----------------------------------------------------------------------------------*/ 
  .row-blog.card .card-body  a:hover {
    color: #dc3545;
  }
  
  .row-blog.card  a.read-more {
    background: #dc3545;
    color: #f7f7f7; 
  }
   
  .row-blog.card a.read-more:hover {
    background: #93101c;
  }
    
    
  
  /*-----------------------------------------------------------------------------------
   * Blog list
   *-----------------------------------------------------------------------------------*/ 
 
  .blog-list.card .card-body  a:hover {
    color: #dc3545;
  }
  
  .blog-list.card  a.read-more {
    background: #dc3545;
    color: #f7f7f7; 
  } 
 
  /*------------------------------------------------------------------------------------------
   * Polling
   *------------------------------------------------------------------------------------------*/
  .polling label.bar { 
    background-color: #dc3545;
    color: #fff;
  }
  
  /*------------------------------------------------------------------------------------------
   * Sidebar 
   *------------------------------------------------------------------------------------------*/
    
  .sidebar .widget.card > ul li a:hover,
  .sidebar .widget.card .card-body > ul li a:hover{ 
    color: #dc3545; 
  }
   
  .sidebar .widget.widget-tagcloud .tagcloud a:hover{
    color: #dc3545 !important; 
  }
  
   
   
  .sidebar .widget.widget-comments ul li a:hover {
    color: #dc3545; 
  }
    
  .sidebar .widget.widget-social .social-bar a.social-icon { 
    border: 1px solid #dc3545;
    color: #dc3545; 
  } 
   
  .sidebar .widget.widget-social .social-bar a.social-icon:hover  {
    background: #dc3545; 
  }
   
  
  .sidebar .widget.posts-widget li.list-post a:hover {
    color: #dc3545; 
  }
   
  .sidebar .widget.widget-contact .contact .data label {
    color: #dc3545;
  } 
  
   
  
  
  /*------------------------------------------------------------------------------------------------
   * global readmore
   *------------------------------------------------------------------------------------------------- */  
  
  a.read-more{
     color:#dc3545
   }
  a.read-more:hover {
    text-decoration: none;
    border-bottom: 1px solid #dc3545; 
  }
  
  
  
  

/*------------------------------------------------------------------------------------------*
 * footer
 *------------------------------------------------------------------------------------------*/ 

#footer .footer  ul li a:hover,
#footer .footer .card-body ul li a:hover{ 
  color: #dc3545;
  text-decoration: none;
}

#footer-bottom {
  background-color: #1a1c1e;
  color: #fff; 
} 
  
/*-----------------------------------------------------------------------------------------------
 * section
 *-----------------------------------------------------------------------------------------------*/ 
.section.odd {
  background: #ffffff;
}
.section.even {
  background: #ffd9dc;
} 
 

.section .card-body .body-container a:hover{
  color: #dc3545; 
}
 
.section .card-body .body-container.animate:hover{ 
  border-bottom: 5px solid #dc3545;
}
   

#section_cta.section {
  background-color: #dc3545;
  color: #fff;  
}  
 

.section #carouselTestimonial ol.carousel-indicators li{ 
  background-color: #dc3545;
}

 
#back-to-top { 
  background: #dc3545;
  color: #fff; 
}
 
 
#footer ul.footer-menu li a:hover{
  color: #dc3545;
} 

#footer .social-bar a.social-icon { 
  border: 1px solid #dc3545;
  color: #dc3545;
} 

#footer .social-bar a.social-icon:hover  {
  background: #dc3545;
  color: #fff;
}

.btn-theme {
  border-radius: 0;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-theme:hover {  
  background: #93101c;
  border-color: #93101c;
  color: #fff;
}
  
 
/*-----------------------------------------------------------------------------------------------
* menu
*-----------------------------------------------------------------------------------------------*/  
.main-menu .current-menu-item, 
.main-menu .current-menu-ancestor,  
.main-menu .current_menu_ancestor,  
.main-menu > ul ul li:hover > a ,
.main-menu > ul ul li.menu-item a:hover {
    background: #ffd9dc; 
}


  
/*-----------------------------------------------------------------------------------------------
* pagination
*-----------------------------------------------------------------------------------------------*/  
.pagination a {     
  border: 1px solid #dc3545;
  color: #dc3545; 
}

.pagination span.current { 
  background: #dc3545; 
}

.pagination a:hover { 
  background: #dc3545;
} 
  
/*-----------------------------------------------------------------------------------------------
* social share
*-----------------------------------------------------------------------------------------------*/  
.social-share a{
  color: #dc3545;
}

.social-share a:hover{
  color: #93101c;
}


/*-----------------------------------------------------------------------------------------------
 * comment form
*-----------------------------------------------------------------------------------------------*/  

.comment-respond .comment-form .btn-comment { 
  background-color: #dc3545;
  border-color: #dc3545;
}

.comment-respond .comment-form .btn-comment:hover { 
background: #93101c;
}

h3.comments a.comment-write:hover {
  color: #dc3545;
} 

ol.commentlist li a:hover { 
  color: #dc3545;
} 

.navigation a:hover  { 
  color: #dc3545; 
  border-bottom: 1px solid #dc3545;
} 

 
 /*--------------------------------------------------------------------------------------------------
  * Menu responsive
  *------------------------------------------------------------------------------------------------*/
  .responsive-menu{ 
    background: #dc3545; 
  }
      
  
 .responsive-menu .menu-content .sidemenu {
   background: #dc3545; 
 } 
 
.responsive-menu .menu-top a {
  color: #dc3545;
  background: #ffd9dc;
}


/*--------------------------------------------------------------------------------------------------
 * team
 *------------------------------------------------------------------------------------------------*/
 .team-socmed a {
  border: 1px solid #dc3545;
  color: #dc3545 !important;
} 

.team-socmed a:hover  {
  background: #dc3545;
}
 
.section-slider .carousel-caption a:hover{
  color: #dc3545; 
}
 
