.header .navbar {
    background-color:#17a2b8 !important;
 }  
 .header .navbar  ul.navbar-nav > li > a{
     color: #fff !important;
  }  
 
   /*-------------------------------------------------------------------------------------
    * Form
    *-----------------------------------------------------------------------------------*/
    a.btn {
     color: #fff !important;
   }
  a.btn-submit,
  .form .btn-submit {
    color: #fff;
    background-color:#17a2b8;
    border-color:#17a2b8;
  }
  a.btn-submit:hover,
  .form .btn-submit:hover {
    color: #fff;  
    background: #0d7282;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * video list 
   *-----------------------------------------------------------------------------------*/  
  
  .video-list.card .card-body  a:hover {
    color:#17a2b8;
  }
   
  .video-list.card a.read-more {
    background:#17a2b8;
    color: #f7f7f7;
  }
   
  .video-list.card a.read-more:hover {
    background: #0d7282;
  }
  
   
  .video-list.card a.read-more:hover {
    background: #0d7282;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * Video  Detail
   *-----------------------------------------------------------------------------------*/ 
   
  .video-detail.card .image-container a {
    color:#fff;
  }
  
  .video-detail.card .card-body  a:hover {
    color:#17a2b8;
  } 
 
  /*-----------------------------------------------------------------------------------
   * Related video 
   *-----------------------------------------------------------------------------------*/ 
   
  .related-video.card .card-body > ul li a:hover { 
    color:#17a2b8;
    background-color: rgba(0,0,0,.03);  
  }
  
  
  /*-----------------------------------------------------------------------------------
   * agenda 
   *-----------------------------------------------------------------------------------*/ 
  .agenda.card .card-body  a:hover {
    color:#17a2b8;
  }
   
  .agenda.card a.read-more {
    background:#17a2b8;
    color: #f7f7f7;
  }
   
  .agenda.card a.read-more:hover {
    background: #0d7282;
  }
  
  .agenda.card a.read-more:hover {
    background: #0d7282;
  }
  
  
  /*-----------------------------------------------------------------------------------
   * Grid Card 
   *-----------------------------------------------------------------------------------*/ 
  
  .grid.card .card-body  a:hover {
    color:#17a2b8;
  }
   
  .grid.card a.read-more {
    background:#17a2b8;
    color: #f7f7f7;
  }
   
  .grid.card a.read-more:hover {
    background: #0d7282;
  }
   
  
  
  
  
  /*-----------------------------------------------------------------------------------
   * Blog 
   *-----------------------------------------------------------------------------------*/ 
 
  .blog.card .card-body  a:hover {
    color:#17a2b8;
  }
   
  .blog.card a.read-more {
    background:#17a2b8;
    color: #f7f7f7;
  }
   
  .blog.card a.read-more:hover {
    background: #0d7282;
  }
  
  .blog.card .tags a{ 
    background: #d8d8d8;
  }
  
  
  
  
  /*-----------------------------------------------------------------------------------
   * Blog Detail
   *-----------------------------------------------------------------------------------*/ 
  
  .blog-detail.card .card-body  a:hover {
    color:#17a2b8;
  }
      
  
  .blog-detail.card .tags a{ 
    background: #d8d8d8;
  }
  
  .blog-detail.card  .post-meta {
    color: grey;
  }
   
   
  /*-----------------------------------------------------------------------------------
   * row Blog 
   *-----------------------------------------------------------------------------------*/ 
  .row-blog.card .card-body  a:hover {
    color:#17a2b8;
  }
  
  .row-blog.card  a.read-more {
    background:#17a2b8;
    color: #f7f7f7; 
  }
   
  .row-blog.card a.read-more:hover {
    background: #0d7282;
  }
    
    
  
  /*-----------------------------------------------------------------------------------
   * Blog list
   *-----------------------------------------------------------------------------------*/ 
 
  .blog-list.card .card-body  a:hover {
    color:#17a2b8;
  }
  
  .blog-list.card  a.read-more {
    background:#17a2b8;
    color: #f7f7f7; 
  } 
 
  /*------------------------------------------------------------------------------------------
   * Polling
   *------------------------------------------------------------------------------------------*/
  .polling label.bar { 
    background-color:#17a2b8;
    color: #fff;
  }
  
  /*------------------------------------------------------------------------------------------
   * Sidebar 
   *------------------------------------------------------------------------------------------*/
    
  .sidebar .widget.card > ul li a:hover,
  .sidebar .widget.card .card-body > ul li a:hover{ 
    color: #17a2b8; 
  }
   
  .sidebar .widget.widget-tagcloud .tagcloud a:hover{
    color: #17a2b8 !important; 
  }
  
   
   
  .sidebar .widget.widget-comments ul li a:hover {
    color: #17a2b8; 
  }
    
  .sidebar .widget.widget-social .social-bar a.social-icon { 
    border: 1px solid #17a2b8;
    color: #17a2b8; 
  } 
   
  .sidebar .widget.widget-social .social-bar a.social-icon:hover  {
    background: #17a2b8; 
  }
   
  
  .sidebar .widget.posts-widget li.list-post a:hover {
    color: #17a2b8; 
  }
   
  .sidebar .widget.widget-contact .contact .data label {
    color: #17a2b8;
  } 
  

 
 
  /*------------------------------------------------------------------------------------------------
   * global readmore
   *------------------------------------------------------------------------------------------------- */  
  
   a.read-more{
     color:#17a2b8
   }
   
   a.read-more:hover {
     text-decoration: none;
     border-bottom: 1px solid #17a2b8; 
   }
    
   
  
  /*------------------------------------------------------------------------------------------*
  * footer
  *------------------------------------------------------------------------------------------*/ 
  
  #footer .footer  ul li a:hover,
  #footer .footer .card-body ul li a:hover{ 
   color: #17a2b8;
   text-decoration: none;
  }
  
  #footer-bottom {
   background-color: #1a1c1e;
   color: #fff; 
  } 
   
  /*-----------------------------------------------------------------------------------------------
  * section
  *-----------------------------------------------------------------------------------------------*/ 
  .section.odd {
   background: #ffffff;
  }
  .section.even {
   background: #e3f2f4;
  } 
  
  
  .section .card-body .body-container a:hover{
   color: #17a2b8; 
  }
  
  .section .card-body .body-container.animate:hover{ 
   border-bottom: 5px solid #17a2b8;
  }
    
  
  #section_cta.section {
   background-color: #17a2b8;
   color: #fff;  
  }  
  
  
  .section #carouselTestimonial ol.carousel-indicators li{ 
   background-color: #17a2b8;
  }
  
  
  #back-to-top { 
   background: #17a2b8;
   color: #fff; 
  }
  
  
  #footer ul.footer-menu li a:hover{
   color: #17a2b8;
  } 
  
  #footer .social-bar a.social-icon { 
   border: 1px solid #17a2b8;
   color: #17a2b8;
  } 
  
  #footer .social-bar a.social-icon:hover  {
   background: #17a2b8;
   color: #fff;
  }
  
  .btn-theme {
   border-radius: 0;
   color: #fff;
   background-color: #17a2b8;
   border-color: #17a2b8;
  }
  .btn-theme:hover {  
   background: #0d7282;
   border-color: #0d7282;
   color: #fff;
  }

  
 
  /*-----------------------------------------------------------------------------------------------
  * menu
  *-----------------------------------------------------------------------------------------------*/  
 .main-menu .current-menu-item, 
 .main-menu .current-menu-ancestor,  
 .main-menu .current_menu_ancestor,  
 .main-menu > ul ul li:hover > a ,
 .main-menu > ul ul li.menu-item a:hover {
     background: #e3f2f4; 
 }

  
 /*-----------------------------------------------------------------------------------------------
 * pagination
 *-----------------------------------------------------------------------------------------------*/  
 .pagination a {     
   border: 1px solid #17a2b8;
   color: #17a2b8; 
 }
 
 .pagination span.current { 
   background: #17a2b8; 
 }
 
 .pagination a:hover { 
   background: #17a2b8;
 } 

  
/*-----------------------------------------------------------------------------------------------
* social share
*-----------------------------------------------------------------------------------------------*/  
.social-share a{
  color: #17a2b8;
}

.social-share a:hover{
  color: #0d7282;
}
 
/*-----------------------------------------------------------------------------------------------
 * comment form
*-----------------------------------------------------------------------------------------------*/  

.comment-respond .comment-form .btn-comment { 
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.comment-respond .comment-form .btn-comment:hover { 
background: #0d7282;
}

h3.comments a.comment-write:hover {
  color: #17a2b8;
} 

ol.commentlist li a:hover { 
  color: #17a2b8;
} 

.navigation a:hover  { 
  color: #17a2b8; 
  border-bottom: 1px solid #17a2b8;
} 


 
 /*--------------------------------------------------------------------------------------------------
  * Menu responsive
  *------------------------------------------------------------------------------------------------*/
  .responsive-menu{ 
    background: #17a2b8; 
  }
      
  
  .responsive-menu .menu-content .sidemenu {
    background: #17a2b8; 
  } 
  .responsive-menu .menu-top a {
    color: #17a2b8;
    background: #e3f2f4;
  }

  

/*--------------------------------------------------------------------------------------------------
 * team
 *------------------------------------------------------------------------------------------------*/
 .team-socmed a {
  border: 1px solid #17a2b8;
  color: #17a2b8 !important;
} 

.team-socmed a:hover  {
  background: #17a2b8;
}
 
.section-slider .carousel-caption a:hover{
  color: #17a2b8; 
}